<section class="extra-padding-bottom">
  <div class="extra-padding-top extra-padding-bottom shareabouts-page-header">

    <div class="row extra-margin-bottom">
      <div class="small-12 large-5 columns">
        <div class="shareabouts-page-header-text no-margin-top">
          <h1>Urban Tree Canopy</h1>
          <p class="text-large tiny-margin-bottom">Make it easy for people to help map the existing urban tree canopy. Find out where they want new trees that would improve their quality of life. </p>
          {% include 'create-plan-button.html' with template='urban-tree-canopy' template_name='Urban Tree Canopy' %}
          <ul class="some-margin-bottom">
            <li><strong>Collect suggested locations for new trees.</strong></li>
            <li><strong>Map existing trees.</strong></li>
            <li><strong>Engage people with address lookup for easy location finding on desktop or mobile.</strong></li>
            <li><strong>Follow up with confirmation emails to participants.</strong></li>
            <li><strong>Track activity with daily email reports.</strong></li>
            <li><strong>Get the complete picture with the OpenPlans Dashboard.</strong></li>
          </ul>
        </div>
      </div>
      <div class="small-12 large-7 large-pull-1 columns">
        <div class="shareabouts-slideshow">
          <img src="/static/images/shareabouts/laptop.png">
          <a class="demo-link" href="//openplans.org/demo/urban-tree-canopy/" target="_blank">
            <img class="shareabouts-slide" src="//openplans.github.io/planbox-themes/urban-tree-canopy/images/screenshot-5.jpg">
            <img class="shareabouts-slide fade fade4" src="//openplans.github.io/planbox-themes/urban-tree-canopy/images/screenshot-4.jpg">
            <img class="shareabouts-slide fade fade3" src="//openplans.github.io/planbox-themes/urban-tree-canopy/images/screenshot-3.jpg">
            <img class="shareabouts-slide fade fade2" src="//openplans.github.io/planbox-themes/urban-tree-canopy/images/screenshot-2.jpg">
            <img class="shareabouts-slide fade" src="//openplans.github.io/planbox-themes/urban-tree-canopy/images/screenshot-1.jpg">
          </a>
        </div>
      </div>
    </div>

    {% include 'payment-options.html' %}

  </div>
</section>