@import url(//fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
  background: url(images/texture-lightgreen.jpg) center top repeat scroll;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.site-header {
  background: url(images/texture-lightblue.jpg) center center repeat scroll;
}
