@import url(//fonts.googleapis.com/css?family=Oswald:400,300,700);

* {
    font-family: 'Oswald', sans-serif !important;
}

body {
    background: url(images/texture-lightgreen.jpg) center top repeat scroll !important;
    font-weight: 300;
}

a {
    color: #5badd1;
}
a:hover {
    color: #ac5027;
}

.sub-nav dd a, .sub-nav dt a, .sub-nav li a {
    color: #5badd1;
}
.sub-nav dd a:hover, .sub-nav dt a:hover, .sub-nav li a:hover {
    color: #5badd1;
}

#page {
    font-size: 1.25em;
}

.site-header {
    background: url(images/texture-lightblue.jpg) center center repeat scroll !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.project-section-shareabouts > div {
    padding-bottom: 0;
}
.project-shareabouts {
    border-bottom: 2px solid #d4dfb9;
}

.site-colophon {
    background: url(images/texture-red.jpg) center center repeat scroll !important;
    color: #fff;
}
.site-colophon a, .site-colophon a:link, .site-colophon a:visited {
    color: #fff;
}
.site-colophon a:hover {
    text-decoration: underline;
}
