@import url(//fonts.googleapis.com/css?family=Oswald:400,300,700);

* {
    font-family: 'Oswald', sans-serif !important;
}

body {
    background: url(images/texture-lightgreen.jpg) center top repeat scroll !important;
    font-weight: 300;
}

#page {
    font-size: 1.25em;
}

.site-header {
    background: url(images/texture-lightblue.jpg) center center repeat scroll !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
