@import url(//fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(//fonts.googleapis.com/css?family=Oswald:400,300|Open+Sans:400);

body {
    background: url(images/texture-lightgreen.jpg) center top repeat scroll !important;
    font-weight: 300;
}

a {
    color: #5badd1;
}
a:hover {
    color: #ac5027;
}

.sub-nav dd a, .sub-nav dt a, .sub-nav li a {
    color: #5badd1;
    font-family: 'Oswald', sans-serif !important;
}
.sub-nav dd a:hover, .sub-nav dt a:hover, .sub-nav li a:hover {
    color: #ac5027;
}

#page {
    font-size: 1.25em;
}
#page, 
#page * {
    font-family: 'Open Sans', sans-serif;
}

.site-header {
    background: url(images/texture-lightblue.jpg) center center repeat scroll !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: 'Oswald', sans-serif !important;
}
.section-heading {
    display: inline-block;
    padding: 0.375rem 0.5rem;
    background: url(images/texture-red.jpg) center center repeat scroll !important;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    word-spacing: 0.125rem;
}

.project-section-shareabouts > div {
    padding-bottom: 0;
}
.project-shareabouts {
    border-bottom: 2px solid #d4dfb9;
}

.site-colophon {
    background: url(images/texture-red.jpg) center center repeat scroll !important;
    color: #fff;
}
.site-colophon a, .site-colophon a:link, .site-colophon a:visited {
    color: #b0daf3;
}
.site-colophon a:hover {
    text-decoration: underline;
}
