<section class="extra-padding-top extra-padding-bottom">
  <div class="shareabouts-page-header">

    <div class="row">
      <div class="small-12 large-5 columns">
        <div class="shareabouts-page-header-text no-margin-top">
          <br class="show-for-large-up">
          <h1>Bike Network Improvements</h1>
          <h4 class="some-margin-bottom tiny-padding-bottom">Know where the weak spots are in your bike network.</h4>
          {% include 'create-plan-button.html' with template='bike-network-improvements' template_name='Bike Network Improvements' %}
          <p class="tiny-padding-top">Enable riders to share thoughts about their favorite destinations, desirable &amp; undesirable routes, and potential improvements.</p>
          <p class="text-center extra-padding-right"><a href="#details" class="button round down-button">&#65516;</a></p>
          <!-- <ul class="some-margin-bottom">
            <li><strong>Easily collect &amp; manage bike network feedback.</strong></li>
            <li><strong>Differentiate categories with beautiful icons.</strong></li>
            <li><strong>Engage people with address lookup for easy location finding on desktop or mobile.</strong></li>
            <li><strong>Follow up with confirmation emails to participants.</strong></li>
            <li><strong>Track activity with daily email reports.</strong></li>
            <li><strong>Get the complete picture with the OpenPlans Dashboard.</strong></li>
          </ul> -->
        </div>
      </div>
      <div class="small-12 large-7 large-pull-1 columns">
        <div class="shareabouts-slideshow">
          <img src="/static/images/shareabouts/laptop.png">
          <a class="demo-link" href="//openplans.org/demo/bike-network-improvements/" target="_blank">
            <img class="shareabouts-slide" src="//openplans.github.io/planbox-themes/bike-network-improvements/images/screenshot-5.jpg">
            <img class="shareabouts-slide fade fade4" src="//openplans.github.io/planbox-themes/bike-network-improvements/images/screenshot-4.jpg">
            <img class="shareabouts-slide fade fade3" src="//openplans.github.io/planbox-themes/bike-network-improvements/images/screenshot-3.jpg">
            <img class="shareabouts-slide fade fade2" src="//openplans.github.io/planbox-themes/bike-network-improvements/images/screenshot-2.jpg">
            <img class="shareabouts-slide fade" src="//openplans.github.io/planbox-themes/bike-network-improvements/images/screenshot-1.jpg">
          </a>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="product-section-alt extra-padding-top some-padding-bottom" style="position:relative;">

  <span id="details" class="offset-anchor"></span>
  <div class="row">
    <div class="large-6 columns">
      <h3>Discover places riders care about.</h3>
      <p class="some-margin-bottom">Participants choose a category and place a pin on the map, marking the location of their feedback.</p>
      <p class="text-xlarge text-center">
        <strong>
        <span class="nowrap tiny-margin-right"><img class="inline-icon" src="//openplans.github.io/planbox-themes/map-markers/fav-route.png"> <small>Favorite Destination</small></span>
        <span class="nowrap tiny-margin-right"><img class="inline-icon" src="//openplans.github.io/planbox-themes/map-markers/bike-crossing.png"> <small>Dificult Crossing</small></span>
        <span class="nowrap tiny-margin-right"><img class="inline-icon" src="//openplans.github.io/planbox-themes/map-markers/thumbs-up.png"> <small>Desirable Route</small></span>
        <span class="nowrap tiny-margin-right"><img class="inline-icon" src="//openplans.github.io/planbox-themes/map-markers/thumbs-down.png"> <small>Undesirable Route</small></span>
        </strong>
      </p>
      <h3>Understand the rider's perspective.</h3>
      <p class="">Participants share their local knowledge and experience in descriptive freeform text.</p>
      <h3>Find out who's participating.</h3>
      <p class="">Participants leave their name, and can optionally provide private information: email address, ZIP code, age, and gender.</p>
      <div class="panel radius">
        <h5>Need to collect different info?</h5>
        <p>No problem. We can configure your form to collect exactly what you need. <a href="mailto:hello@openplans.org{# {{ settings.PLANBOX_CONTACT_EMAIL }} #}" class="open-intercom"><strong>Contact&nbsp;Us</strong></a></p>
      </div>
    </div>
    <div class="large-6 columns">
      <img class="" src="//openplans.github.io/planbox-themes/bike-network-improvements/images/form-segment.png">
    </div>
  </div>

</section>

<section class="extra-padding-bottom">

  <div class="row extra-padding-bottom">
    <div class="columns">
      {% include 'pricing-section.html' %}
    </div>
  </div>

</section>
