<section class="extra-padding-bottom">
  <div class="extra-padding-top extra-padding-bottom shareabouts-page-header">

    <div class="row extra-margin-bottom">
      <div class="small-12 large-5 columns">
        <div class="shareabouts-page-header-text no-margin-top">
          <h1>Bike Network Improvements</h1>
          <p class="text-large tiny-margin-bottom">Make it easy for people to share their thoughts about how the bike network can be improved. Where are people currently biking? What are their favorite destinations? Where do they have difficulty navigating? Where are bike routes desirable or undesirable?</p>
          {% include 'create-plan-button.html' with template='bike-network-improvements' template_name='Bike Network Improvements' %}
          <ul class="some-margin-bottom">
            <li><strong>Easily collect &amp; manage bike network feedback.</strong></li>
            <li><strong>Differentiate categories with beautiful icons.</strong></li>
            <li><strong>Engage people with address lookup for easy location finding on desktop or mobile.</strong></li>
            <li><strong>Follow up with confirmation emails to participants.</strong></li>
            <li><strong>Track activity with daily email reports.</strong></li>
            <li><strong>Get the complete picture with the OpenPlans Dashboard.</strong></li>
          </ul>
        </div>
      </div>
      <div class="small-12 large-7 large-pull-1 columns">
        <div class="shareabouts-slideshow">
          <img src="/static/images/shareabouts/laptop.png">
          <img class="shareabouts-slide" src="//openplans.github.io/planbox-themes/bike-network-improvements/images/screenshot-5.jpg">
          <img class="shareabouts-slide fade fade4" src="//openplans.github.io/planbox-themes/bike-network-improvements/images/screenshot-4.jpg">
          <img class="shareabouts-slide fade fade3" src="//openplans.github.io/planbox-themes/bike-network-improvements/images/screenshot-3.jpg">
          <img class="shareabouts-slide fade fade2" src="//openplans.github.io/planbox-themes/bike-network-improvements/images/screenshot-2.jpg">
          <img class="shareabouts-slide fade" src="//openplans.github.io/planbox-themes/bike-network-improvements/images/screenshot-1.jpg">
        </div>
      </div>
    </div>

    {% include 'payment-options.html' %}

  </div>
</section>