<section class="extra-padding-bottom">
  <div class="extra-padding-top extra-padding-bottom shareabouts-page-header">

    <div class="row extra-margin-bottom">
      <div class="small-12 large-5 columns">
        <div class="shareabouts-page-header-text no-margin-top">
          <h1>Neighborhood Assessment</h1>
          <p class="text-large tiny-margin-bottom">What's your experience of your neighborhood, and how would you like that to change or stay the same? What are your ideas for the neighborhood? Use our neighborhood assessment map to collect this feedback.</p>
          {% include 'create-plan-button.html' with template='neighborhood-assessment' template_name='Neighborhood Assessment' %}
          <ul class="some-margin-bottom">
            <li><strong>Collect feedback about places people like/dislike and the opportunities they see.</strong></li>
            <li><strong>Differentiate categories with beautiful icons.</strong></li>
            <li><strong>Engage people with address lookup for easy location finding on desktop or mobile.</strong></li>
            <li><strong>Follow up with confirmation emails to participants.</strong></li>
            <li><strong>Track activity with daily email reports.</strong></li>
            <li><strong>Get the complete picture with the OpenPlans Dashboard.</strong></li>
          </ul>
        </div>
      </div>
      <div class="small-12 large-7 large-pull-1 columns">
        <div class="shareabouts-slideshow">
          <img src="/static/images/shareabouts/laptop.png">
          <a class="demo-link" href="//openplans.org/demo/neighborhood-assessment/" target="_blank">
            <img class="shareabouts-slide" src="//openplans.github.io/planbox-themes/neighborhood-assessment/images/screenshot-5.jpg">
            <img class="shareabouts-slide fade fade4" src="//openplans.github.io/planbox-themes/neighborhood-assessment/images/screenshot-4.jpg">
            <img class="shareabouts-slide fade fade3" src="//openplans.github.io/planbox-themes/neighborhood-assessment/images/screenshot-3.jpg">
            <img class="shareabouts-slide fade fade2" src="//openplans.github.io/planbox-themes/neighborhood-assessment/images/screenshot-2.jpg">
            <img class="shareabouts-slide fade" src="//openplans.github.io/planbox-themes/neighborhood-assessment/images/screenshot-1.jpg">
          </a>
        </div>
      </div>
    </div>

    {% include 'payment-options.html' %}

  </div>
</section>