<section class="extra-padding-bottom">
  <div class="extra-padding-top extra-padding-bottom shareabouts-page-header">

    <div class="row extra-padding-bottom">
      <div class="small-12 large-5 columns">
        <div class="shareabouts-page-header-text no-margin-top">
          <br class="show-for-large-up">
          <h1>Neighborhood Assets</h1>
          <h4 class="some-margin-bottom tiny-padding-bottom">Capture local knowledge &amp; experience about neighborhood assets &amp; opportunities.</h4>
          {% include 'create-plan-button.html' with template='neighborhood-assessment' template_name='Neighborhood Assets' %}
          <p class="tiny-padding-top">Planners and community groups use the neighborhood assests map to collect local feedback for community planning.</p>
          <p class="text-center extra-padding-right"><a href="#details" class="button round down-button">&#65516;</a></p>
          <!-- <ul class="some-margin-bottom">
            <li><strong>Collect feedback about places people like/dislike and the opportunities they see.</strong></li>
            <li><strong>Differentiate categories with beautiful icons.</strong></li>
            <li><strong>Engage people with address lookup for easy location finding on desktop or mobile.</strong></li>
            <li><strong>Follow up with confirmation emails to participants.</strong></li>
            <li><strong>Track activity with daily email reports.</strong></li>
            <li><strong>Get the complete picture with the OpenPlans Dashboard.</strong></li>
          </ul> -->
        </div>
      </div>
      <div class="small-12 large-7 large-pull-1 columns">
        <div class="shareabouts-slideshow">
          <img src="/static/images/shareabouts/laptop.png">
          <a class="demo-link" href="//openplans.org/demo/neighborhood-assessment/" target="_blank">
            <img class="shareabouts-slide" src="//openplans.github.io/planbox-themes/neighborhood-assessment/images/screenshot-5.jpg">
            <img class="shareabouts-slide fade fade4" src="//openplans.github.io/planbox-themes/neighborhood-assessment/images/screenshot-4.jpg">
            <img class="shareabouts-slide fade fade3" src="//openplans.github.io/planbox-themes/neighborhood-assessment/images/screenshot-3.jpg">
            <img class="shareabouts-slide fade fade2" src="//openplans.github.io/planbox-themes/neighborhood-assessment/images/screenshot-2.jpg">
            <img class="shareabouts-slide fade" src="//openplans.github.io/planbox-themes/neighborhood-assessment/images/screenshot-1.jpg">
          </a>
        </div>
      </div>
    </div>

    <section class="product-section-alt extra-padding-bottom" id="">
      <div class="row" style="position:relative;">
        <div class="columns">
          <span id="details" class="offset-anchor"></span>

          <h2 class="extra-padding-top tiny-padding-bottom"><a href="#details" class="unstyled-link">What information is collected?</a></h2>

          <div class="row some-margin-bottom" style="position:relative;">
            <div class="large-6 columns">
              <h3>Location, Category</h3>
              <p class="some-margin-bottom">Participants choose a category and place a pin on the map, marking the location of their feedback.</p>
              <p class="text-xlarge text-center">
                <strong>
                <span class="nowrap tiny-margin-right"><img class="inline-icon" src="//openplans.github.io/planbox-themes/map-markers/housing.png"> <small>Housing</small></span>
                <span class="nowrap tiny-margin-right"><img class="inline-icon" src="//openplans.github.io/planbox-themes/map-markers/business.png"> <small>Business</small></span>
                <span class="nowrap tiny-margin-right"><img class="inline-icon" src="//openplans.github.io/planbox-themes/map-markers/traffic.png"> <small>Streets/Parking</small></span>
                <span class="nowrap tiny-margin-right"><img class="inline-icon" src="//openplans.github.io/planbox-themes/map-markers/walking-biking.png"> <small>Walking/Biking</small></span>
                <span class="nowrap tiny-margin-right"><img class="inline-icon" src="//openplans.github.io/planbox-themes/map-markers/crime.png"> <small>Public Safety</small></span>
                <span class="nowrap tiny-margin-right"><img class="inline-icon" src="//openplans.github.io/planbox-themes/map-markers/park-river.png"> <small>Parks/Rivers</small></span>
                <span class="nowrap tiny-margin-right"><img class="inline-icon" src="//openplans.github.io/planbox-themes/map-markers/fountain.png"> <small>Public Space</small></span>
                <span class="nowrap tiny-margin-right"><img class="inline-icon" src="//openplans.github.io/planbox-themes/map-markers/idea.png"> <small>Other</small></span>
                </strong>
              </p>
              <h3>Title, Description</h3>
              <p class="">Thoughts are shared as freeform text.</p>
              <h3>Name, Email, Demographics</h3>
              <p class="">Participants leave their name, and can optionally provide private information: email address, ZIP code, age, and race/ethnicity.</p>
              <div class="panel radius">
                <h5>Need to collect different info?</h5>
                <p>No problem. We can configure your form to collect exactly what you need. <a href="mailto:hello@openplans.org{# {{ settings.PLANBOX_CONTACT_EMAIL }} #}" class="open-intercom"><strong>Contact&nbsp;Us</strong></a></p>
              </div>
            </div>
            <div class="large-6 columns">
              <img class="" src="//openplans.github.io/planbox-themes/neighborhood-assessment/images/form-segment.png">
            </div>
          </div>

        </div>
      </div>
    </section>

    <div class="row">
      <div class="columns extra-padding-bottom">
        {% include 'pricing-section.html' %}
      </div>
    </div>

  </div>
</section>