@import url(//fonts.googleapis.com/css?family=Roboto+Slab:300,700);
@import url(alte_haas_grotesk_bold/alte_haas_grotesk_bold.css);
/*@import url(//fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);*/

body { 
  font-family: 'Roboto Slab', Rockwell, Tahoma, sans-serif;
  font-weight: 300;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Alte Haas Grotesk Bold', 'Arial Rounded MT Bold', 'Helveticsa Rounded', Arial, sans-serif;
  font-weight: normal;
}


/* ----- LINKS ----- */
a, a:active, a:visited { color: #63c2c0; }
a:hover { color: #f15723; }

.button, .button:visited, button,
.button.secondary, .button.secondary:visited, button.secondary {
  font-family: 'Roboto Slab', Rockwell, Tahoma, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #235358;
  border-color: #63c2c0;
  color: #fff;
}
.button:hover, button:hover,
.button.secondary:hover, button.secondary:hover {
  background-color: #1E484D;
}


/* ----- HEADER ----- */
.site-header {
  background-color: #63c2c0;
  text-align: center;
}

.project-title img {
  max-height: none;
}


@media (min-width: 64.063em) {
  .site-header {
    box-shadow: inset 0 -3.125rem #58ad31;
  }
}
.project-menu .container {
  background-color: #adcb47;
}
.project-menu .columns:after {
  background-color: #adcb47;
}

.sub-nav dd a, .sub-nav dt a, .sub-nav li a {
  background-color: #f5e96f;
  color: #3c3c3c;
  border-radius: 3px;
}
.sub-nav dd a:hover, .sub-nav dt a:hover, .sub-nav li a:hover {
  background-color: #58ad31;
  color: #fff;
}
.sub-nav dd.active a, .sub-nav dt.active a, .sub-nav li.active a {
  background-color: #235358;
  color: #fff;
}
.sub-nav dd.active a:hover, .sub-nav dt.active a:hover, .sub-nav li.active a:hover {
  background-color: #235358;
}


/* ----- Misc  ----- */
.project-location {
  display: none !important;
}

h3.section-heading {
  font-size: 2.75rem;
}

@media (min-width: 600px) {
  h3.section-heading:after {
    content: url('images/chevron-sm.gif');
    margin-left: 0.25em;
  }
}

.project-header .button:after {
    content: url('images/chevron-sm.png');
    margin-left: 0.25em;
}
.project-header .button {
  font-size: 1.625rem;
}
@media (min-width: 600px) {
  .project-header .button {
    font-size: 2rem;
  }
}

@media (min-width: 64.063em) {
  .columns-2 {
    -webkit-column-count:2;
       -moz-column-count:2;
          column-count:2;
  }
  .columns-3 {
    -webkit-column-count:3;
       -moz-column-count:3;
            column-count:3;
  }
  .columns-4 {
    -webkit-column-count:4;
       -moz-column-count:4;
            column-count:4;
  }
}

a.context-map-link {
  float: left;
  margin: 0 10px 10px 0;
  text-align: center;
  border: 5px solid #63c2c0; 
  background-color: #63c2c0; 
  color: #fff;
  font-family: 'Alte Haas Grotesk Bold', 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 0.75em;
  font-weight: normal;
  display: none;
}
.project-details .medium-4 a.context-map-link {
  float: none;
}
a.context-map-link:hover {
  border: 5px solid #f15723; 
  background-color: #f15723;
}
.context-map {
  display: block;
  height: 175px;
  width: auto;
}
.project-details .medium-4 .context-map {
  height: auto;
}
@media (min-width: 600px) {
  a.context-map-link {
    display: block;
  }
}


/* ----- News Section ----- */
#section-news-wrapper p {
  overflow: hidden;
} 
#section-news-wrapper a strong { 
  display: block;
  color: #235358; 
  font-size: 1.25em;
}
#section-news-wrapper a:hover strong { 
  color: #f15723; 
}
#section-news-wrapper a small { 
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* ----- Social Media ----- */
.social-media-links a {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: #f15723;
}
.social-media-links img {
  vertical-align: center;
  margin-right: 10px;
  width: 65px;
  height: auto;
}
a.social-media-link,
a.grfwd-toggle-link {
  text-align: center;
}

.social-media-list {
  list-style: none;
  position: relative;
  right: 1rem;
  margin: 0 0 -40px 0;
  padding: 0.9375rem 0.9375rem 0;
  background-color: #fff;
  border-radius: 0.25rem 0.25rem 0 0;
  top: -40px;
}
.social-media-list li {
  display: inline;
}
.social-media-list li + li {
  margin-left: 0.5rem;
}
.social-media-list img {
  width: 40px;
  height: auto;
}


/* ----- MailChimp ----- */
#mc_embed_signup {
  background-color: transparent !important;
}
#mc_embed_signup form {
  padding: 0 0 2rem 0 !important;
}
#mc_embed_signup h2 {
  font-weight: normal !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1.375rem !important;
}
#mc_embed_signup {
  font-family: inherit !important;
}
#mc-embedded-subscribe {
  background-color: #235358 !important;
  padding-top: 1rem !important;
  padding-right: 2rem !important;
  padding-bottom: 1.0625rem !important;
  padding-left: 2rem !important;
  height: auto !important;
  line-height: inherit !important;
  border-radius: 0 !important;
}


/* ----- Gallery ----- */

.grfwd-image-gallery {
  margin-bottom: 1.25rem;
}
.grfwd-thumb-link img { 
  width: 80px;
  height: 80px;
  border: 5px solid #63c2c0;
  margin: 0 5px 5px 0;
}
.grfwd-thumb-link.active img { 
  border-color: #3c3c3c;
}


/* ----- Highlights ----- */
.panel {
  background-color: #eee;
}


/* ----- Timeline ----- */
.event {
  padding-bottom: 1rem;
}
.event-title {
  padding-top: 0.125rem;
  padding-bottom: 0;
  margin-bottom: 0;
  color: #63c2c0;
  cursor: pointer;
  display: inline;
}
.event-title:hover { color: #f15723; }
.event-title:after {
  content: url('images/chevron-sm.gif');
  margin-left: 0.25em;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
}

.event-datetime {
  margin: 0;
  padding: 0;
  display: inline;
}
.event-description {
  display: none;
  margin-bottom: 0.5rem;
}
.event .row .medium-7 {
  width: 100%;
}
.event .row .medium-5 {
  display: none;
}


/* ----- Footer ----- */
.site-colophon {
  background-color: #3c3c3c;
  background-color: #eee;
  /*color: #fff;*/
}
.powered-by {
  display: none;
}
.powered-by a {
  color: #fff;
}
.footer-logos {
  text-align: center;
}
.footer-logo {
  height: auto;
  max-height: 200px;
  width: auto;
  margin: 2rem;
}


/* ----- Shareabouts ----- */
.shareabouts {
  width: 100%;
  margin: 0 0 2rem;
  height: 400px;
  border: 0.25rem solid #adcb47;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
@media (min-height: 700px) { .shareabouts { height: 450px; } }
@media (min-height: 750px) { .shareabouts { height: 500px; } }
@media (min-height: 800px) { .shareabouts { height: 550px; } }
@media (min-height: 850px) { .shareabouts { height: 600px; } }
@media (min-height: 900px) { .shareabouts { height: 650px; } }
@media (min-height: 950px) { .shareabouts { height: 700px; } }
#section-thoughts-map-wrapper .shareabouts {
  border: 0;
  /*box-shadow: 0 -0.25em 0 rgba(0,0,0,.08);*/
  border-top: 1px solid #eee;
  border-bottom: 1px solid #ddd;
  margin: 0;
}

/* ----- NEVER SHOW THE SAVE BUTTON ----- */
.save-btn {
  display: none !important;
}

