@import url(//fonts.googleapis.com/css?family=Roboto+Slab:300,700);
@import url(alte_haas_grotesk_bold/alte_haas_grotesk_bold.css);
/*@import url(//fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);*/

body { 
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Alte Haas Grotesk Bold', serif;
  font-weight: normal;
}


/* ----- LINKS ----- */
a, a:active, a:visited { color: #235358; }
a:hover { color: #63c2c0; }

.event-description a, .event-description a:active, .event-description a:visited { color: PaleGreen; }
.event-description a:hover { color: #fff; }


/* ----- HEADER ----- */
.site-header {
  background-color: #63c2c0;
}
.project-title {
  display: none !important;
}

.logo-table {
  display: block;
}
.logo-table-row {
  display: block;
}
.logo-table-row > div {
  display: block;
}
.logo-table-row > div.image-holder,
.logo-table-row > div.has-image {
  padding-right: 0;
}
.logo-table img {
  max-height: none;
}

.site-header {
  box-shadow: inset 0 -3.125rem #58ad31;
}
.project-menu .container {
  background-color: #adcb47;
}
.project-menu .columns:after {
  background-color: #adcb47;
}

.sub-nav dd a, .sub-nav dt a, .sub-nav li a {
  color: #3c3c3c;
}
.sub-nav dd.active a, .sub-nav dt.active a, .sub-nav li.active a {
  background-color: #235358;
  color: #fff;
}


/* ----- ----- */
.project-location {}

.project-timeline,
.event:after,
li.event:last-child:before,
.event-list:before {
  /*background-color: #69af4d;*/
}
.site-colophon {
  background-color: #3c3c3c;
  /*color: #fff;*/
}
.powered-by a {
  color: #fff;
}
