@import url(//fonts.googleapis.com/css?family=Roboto+Slab:300,700);
@import url(alte_haas_grotesk_bold/alte_haas_grotesk_bold.css);
/*@import url(//fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);*/

body { 
  font-family: 'Roboto Slab', Rockwell, Tahoma, sans-serif;
  font-weight: 300;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Alte Haas Grotesk Bold', 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-weight: normal;
}


/* ----- LINKS ----- */
a, a:active, a:visited { color: #63c2c0; }
a:hover { color: #f15723; }

.event-description a, .event-description a:active, .event-description a:visited { color: PaleGreen; }
.event-description a:hover { color: #fff; }

.button, button {
  font-family: 'Roboto Slab', Rockwell, Tahoma, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #235358;
  border-color: #63c2c0;
  color: #fff;
}
.button:hover, button:hover {
  background-color: #1E484D;
}


/* ----- HEADER ----- */
.site-header {
  background-color: #63c2c0;
}
.project-title {
  display: none !important;
}

.logo-table {
  display: block;
}
.logo-table-row {
  display: block;
}
.logo-table-row > div {
  display: block;
}
.logo-table-row > div.image-holder,
.logo-table-row > div.has-image {
  padding-right: 0;
}
.logo-table img {
  max-height: none;
}

.site-header {
  box-shadow: inset 0 -3.125rem #58ad31;
}
.project-menu .container {
  background-color: #adcb47;
}
.project-menu .columns:after {
  background-color: #adcb47;
}

.sub-nav dd a, .sub-nav dt a, .sub-nav li a {
  background-color: #f5e96f;
  color: #3c3c3c;
  border-radius: 3px;
}
.sub-nav dd a:hover, .sub-nav dt a:hover, .sub-nav li a:hover {
  background-color: #58ad31;
  color: #fff;
}
.sub-nav dd.active a, .sub-nav dt.active a, .sub-nav li.active a {
  background-color: #235358;
  color: #fff;
}
.sub-nav dd.active a:hover, .sub-nav dt.active a:hover, .sub-nav li.active a:hover {
  background-color: #235358;
}


/* ----- Misc  ----- */
.project-location {
  font-size: 1.125rem;
  font-family: 'Alte Haas Grotesk Bold', 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
}
section > div > div > h3 {
  font-size: 2.75rem;
}

@media (min-width: 600px) {
  #section-downtown + div > div > h3:after,
  #section-river + div > div > h3:after,
  #section-central-campus + div > div > h3:after {
    content: url('images/chevron-sm.gif');
    margin-left: 0.25em;
  }
}

.columns-2 {
  -webkit-column-count:2;
     -moz-column-count:2;
          column-count:2;
}
.columns-3 {
  -webkit-column-count:3;
     -moz-column-count:3;
          column-count:3;
}
.columns-4 {
  -webkit-column-count:4;
     -moz-column-count:4;
          column-count:4;
}

a.context-map-link {
  float: left;
  margin: 0 10px 10px 0;
  text-align: center;
  border: 5px solid #63c2c0; 
  background-color: #63c2c0; 
  color: #fff;
  font-family: 'Alte Haas Grotesk Bold', 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
  font-size: 0.75em;
  font-weight: normal;
  display: none;
}
a.context-map-link:hover {
  border: 5px solid #f15723; 
  background-color: #f15723;
}
.context-map {
  display: block;
  height: 175px;
  width: auto;
}
@media (min-width: 600px) {
  a.context-map-link {
    display: block;
  }
}


/* ----- Social Media ----- */
.social-media-links a {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: #f15723;
}
.social-media-links img {
  vertical-align: center;
  margin-right: 10px;
  width: 65px;
  height: auto;
}


/* ----- MailChimp ----- */
#mc_embed_signup form {
  padding: 0 0 2rem 0 !important;
}
#mc_embed_signup h2 {
  font-weight: normal !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1.375rem !important;
}
#mc_embed_signup {
  font-family: inherit !important;
}


/* ----- Gallery ----- */

.grfwd-image-gallery {
  margin-bottom: 1.25rem;
}
.grfwd-thumb-link img { 
  width: 80px;
  height: 80px;
  border: 5px solid #63c2c0;
  margin: 0 5px 5px 0;
}
.grfwd-thumb-link.active img { 
  border-color: #3c3c3c;
}


/* ----- Highlights ----- */
.panel.callout {
  border-width: 0;
  background-color: #f5e96f;
}


/* ----- Timeline ----- */
.project-section-timeline {
  padding-top: 2rem;
}
.project-section-timeline,
.event:after,
li.event:last-child:before,
.event-list:before {
  background-color: #3c3c3c;
}
/* HIDE THE TIMELINE BORDER UNTIL THAT HAVE EVENTS */
.event-list {
  border-left: 0;
}

/* ----- Footer ----- */
.site-colophon {
  background-color: #3c3c3c;
  background-color: #eee;
  /*color: #fff;*/
}
.powered-by {
  display: none;
}
.powered-by a {
  color: #fff;
}
.footer-logos {
  text-align: center;
}
.footer-logo {
  height: auto;
  max-height: 200px;
  width: auto;
  margin: 2rem;
}


/* ----- Shareabouts ----- */
.shareabouts {
  width: 100%;
  margin: 0 0 2rem;
  height: 400px;
  border: 0.25rem solid #adcb47;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
@media (min-height: 700px) { .shareabouts { height: 450px; } }
@media (min-height: 750px) { .shareabouts { height: 500px; } }
@media (min-height: 800px) { .shareabouts { height: 550px; } }
@media (min-height: 850px) { .shareabouts { height: 600px; } }
@media (min-height: 900px) { .shareabouts { height: 650px; } }
@media (min-height: 950px) { .shareabouts { height: 700px; } }


/* ----- NEVER SHOW THE SAVE BUTTON ----- */
.save-btn {
  display: none !important;
}

