@import url(//fonts.googleapis.com/css?family=Roboto+Slab:300,700);
/*@import url(//fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);*/

body { 
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.project-title,
.project-details {
  display: none !important;
}
